extends layout
block content
	form#post(method="POST", action="/post")
		input(type="hidden", name="post[user]", value="#{user._id}")
		.form-group

			input#postTitle.form-control(name="post[title]", type="text",placeholder='标题')
		.form-group

			textarea#postContent(name="post[content]", row='3',placeholder="正文")
		.text-center
			button.btn.btn-primary(type="submit") 提交

