extends layout
block content
	form(method="POST", action="/uploadPhoto")
		.form-group
			label(for="post[title]") 标题
			input#postTitle.form-control(name="post[title]", type="text",placeholder='标题')
		.text-center
			button.btn.btn-primary(type="submit") 提交
